.places {
  max-width: calc(100% - 148px*2);
  display: flex;
  gap: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 92px;
  padding-top: 92px;
  box-sizing: border-box;
}


@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 48px*2);
    gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 24px*2);
    gap: 73px;
    padding-top: 88px;
    padding-bottom: 90px;
  }
}
