.cover__subtitle {
  max-width: 360px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", "Arial", sans-serif;
  position: relative;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

