.header__logo {
  max-width: 176px;
  object-fit: contain;
}


@media screen and (max-width: 450px) {
  .header__logo {
    max-width: 152px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
  }
}


