.footer__link {
  text-decoration: none;
  margin: 0 18px 0 0;
  padding: 0;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Inter", "Arial", sans-serif;
  opacity: 1;
  transition: opacity .2s linear;
}

.footer__link:hover {
  opacity: .5;
}

.footer__link:nth-last-child(1) {
  margin-right: 0;
}

@media screen and (max-width: 650px) {
  .footer__link {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  .footer__link:nth-last-child(1) {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
  }

  .footer__link:nth-last-child(1) {
    margin: 0;
  }
}
