.place__paragraph {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  font-family: "Inter", "Arial", sans-serif;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}
