.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 148px;
  margin-right: 442px;
  padding-top: 92px;
  align-items: flex-start;
  max-width: 690px;
  min-height: 429px;
  /* margin: 0; */
}
