.place__link {
  /* text-decoration-line: underline; */
  text-decoration-color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", "Arial", sans-serif;
  color: white;
}
