.cover__title {
  max-width: 560px;
  /* min-height: 152px; */
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 695px) {
  .cover__title {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 350px) {
  .cover__title {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
