.place {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}


@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 695px) {
  .place {
    grid-template-columns: 1fr;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
    gap: 32px 0;
  }
}
