.place {
  max-width: 100%;
  min-height: 584px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: repeat(200px, 1fr);
  gap: 48px 40px;
}


@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px auto;
    grid-template-rows: repeat(200px, 1fr);
    gap: 48px 32px;
    min-height: 560px;
    max-width: 100%;
  }
}
