.footer {
  max-width: calc(100% - 48px*2);
  min-height: 18px;
  display: flex;
  margin: 92px 48px 24px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 24px*2);
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: calc(100% - 22px*2);
    margin-top: 60px;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
  }
}


@media screen and (max-width: 320px) {
  .footer {
    max-width: calc(100% - 16px*2);
    margin: 64px 16px 48px;
  }
}
