.footer {
  max-width: calc(100% - 48px*2);
  min-height: 18px;
  display: flex;
  margin: auto;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 24px*2);
    margin-top: 88px;
  }
}
