.place__url-heading {
  color: #aaa;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 695px) {
  .place__url-heading {
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    margin-left: 16px;
    margin-right: 16px;
  }
}

